<div class="row">
    <app-header></app-header>
</div>
<div class="row" style="display: flex;">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    
    </div>
    <div class="col-9">
        <p>main works!</p>
        <div style="border: 1px solid black;">
            <div class="paper-canvas" style="height: 800px; width: 800px;">
                <canvas id="myCanvas" tyle="height: auto; width: auto;" resize></canvas>
                <!-- <img id="background-image" src="https://img.freepik.com/free-vector/nature-scene-background-with-rainbow-sky_1308-67727.jpg?w=1380&t=st=1693573141~exp=1693573741~hmac=a5605f084b889f45ac15d9c5ff73f5bf0ff650f01f921dc9e56b025fc4bac004" alt="Background Image"> -->
              </div>          </div>
    </div>
</div>

